body {
    display: flex;   /* ativa o flexbox */
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    margin: 0;
    height: 100vh; /* ocupa a tela toda */
    background-image: url("../images/hero-image.png"); /* caminho da imagem */
    background-size: cover;    /* cobre toda a tela */
    background-position: center; /* centraliza */
    background-repeat: no-repeat; /* não repete */
}

#titulo-principal{
    color: aliceblue;
    font-size: 40px;
}

#titulo-secundario{
    color: aliceblue;
    font-size: 25px;
}



/* Overlay preto semi-transparente */
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* preto com 50% de transparência */
      z-index: 1; /* fica acima da imagem, mas atrás do texto */
    }

    /* Conteúdo que vai ficar na frente do overlay */
    .conteudo {
      
      position: relative; /* para ficar acima do overlay */
      z-index: 2;
      text-align: center;
    }